*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
system/cms/cache/
system/cms/logs/
.htaccess
uploads/
system/cms/config/database.php
system/cms/config/config.php
